.computer{

    margin-left: 40px;
    margin-right:40px;
    margin-bottom:50px;
    margin-top:60px;
    min-height: 70vh;
    max-height: 75vh;
    border-radius: 50px;
    background: #EEE8CE;
    box-shadow: inset 12px 12px 24px #5f5d52,
                inset -12px -12px 24px #ffffff;
    
    @media (max-width: 900px) {
        margin-bottom:400px;
    }
        
    
}