.computer{

    margin: 40px;
    min-height: 70vh;
    max-height: 75vh;
    border-radius: 50px;
    background: #EEE8CE;
    box-shadow: inset 12px 12px 24px #5f5d52,
                inset -12px -12px 24px #ffffff;
    
}