@mixin headingStyles{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.computer {
  display: flex;
 
  &-screen {
    position: absolute;
    // center the screen in the middle

    
    
    transform: translate(5%, 5%);

    min-width: 87%;
   
    min-height: 63vh;
    max-height: 63vh;
    transition: all 0.2s;
    @media (max-width: 550px) {
      // transform: translate(-5%, 5%);
      max-width: 70%;
      min-width: 70%;
    }
    @media (min-width: 550px) and (max-width: 800px) {
      
      min-width: 79%;
    }
    @media (min-width: 800px) and (max-width: 850px) {
      min-width: 80%;
    }
    @media (min-width: 851px) and (max-width: 1200px) {
      min-width: 84%;
    }

    border-radius: 50px;
    background: url("https://i.postimg.cc/tJhBVh4d/scanlines.png"),
      linear-gradient(45deg, #000000, #08658d);
    border-width: thick;
    border-color: #5f5e5e;
    border-style: inset;
    &-intro {
      &-text {
        margin-top: 20px;

        font-size: 2.5em;
        @media (max-width: 900px) {
          font-size: 1.5em;
        }
        @media (max-height: 800px) {
            font-size: 1.5em;
         }
      }
      &-totranslate {
        font-size: 1em;
        @media (max-width: 900px) {
          font-size: 0.7em;
        }
        @media (max-height: 800px) {
            font-size: 0.8em;
         }
      }
      text-align: center;
    }
    &-input{
        &-header{
            @include headingStyles()
        }
    }
    &-output{
        &-header{
            @include headingStyles()
        }
            
        
    }
  }
}

.displayed-text{
    margin-left: 5%;
}