@-webkit-keyframes flicker {
  0% {
    opacity: 0.57861;
  }
  5% {
    opacity: 0.64769;
  }
  10% {
    opacity: 0.73604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.68128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.66559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.58594;
  }
  60% {
    opacity: 0.60313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.67288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.66108;
  }
  100% {
    opacity: 0.54387;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.57861;
  }
  5% {
    opacity: 0.64769;
  }
  10% {
    opacity: 0.73604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.68128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.66559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.58594;
  }
  60% {
    opacity: 0.60313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.67288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.66108;
  }
  100% {
    opacity: 0.54387;
  }
}
.computer {
  display: flex;
}
.computer-screen {
  position: absolute;
  transform: translate(5%, 5%);
  min-width: 87%;
  min-height: 63vh;
  max-height: 63vh;
  transition: all 0.2s;
  border-radius: 50px;
  background: url("https://i.postimg.cc/tJhBVh4d/scanlines.png"), linear-gradient(45deg, #000000, #08658d);
  border-width: thick;
  border-color: #5f5e5e;
  border-style: inset;
}
@media (max-height: 900px) {
  .computer-screen {
    min-height: 80vh;
    max-height: 80vh;
  }
}
@media (max-width: 550px) {
  .computer-screen {
    max-width: 70%;
    min-width: 70%;
  }
}
@media (min-width: 550px) and (max-width: 800px) {
  .computer-screen {
    min-width: 79%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .computer-screen {
    min-width: 80%;
  }
}
@media (min-width: 851px) and (max-width: 1200px) {
  .computer-screen {
    min-width: 84%;
  }
}
.computer-screen-intro {
  text-align: center;
}
.computer-screen-intro-text {
  margin-top: 20px;
  font-size: 2.5em;
}
@media (max-width: 900px) {
  .computer-screen-intro-text {
    font-size: 1.5em;
  }
}
@media (max-height: 800px) {
  .computer-screen-intro-text {
    font-size: 1.5em;
  }
}
.computer-screen-intro-totranslate {
  font-size: 1em;
}
@media (max-width: 900px) {
  .computer-screen-intro-totranslate {
    font-size: 0.7em;
  }
}
@media (max-height: 800px) {
  .computer-screen-intro-totranslate {
    font-size: 0.8em;
  }
}
.computer-screen-input-header {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.computer-screen-output-header {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.displayed-text {
  margin-left: 5%;
}

.computer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-top: 60px;
  min-height: 70vh;
  max-height: 75vh;
  border-radius: 50px;
  background: #EEE8CE;
  box-shadow: inset 12px 12px 24px #5f5d52, inset -12px -12px 24px #ffffff;
}

.computer-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-150px, 0);
  bottom: 15%;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .computer-buttons {
    transform: translate(-100px, 30px);
  }
}
.computer-buttons-translate {
  padding: 10px;
  border-radius: 10px;
  background: #eee8ce;
  box-shadow: 2px 2px 4px #7c7a6b, -2px -2px 4px #dbdbdb;
}
.computer-buttons-playsound {
  padding: 10px;
  border-radius: 10px;
  background: #eee8ce;
  box-shadow: 2px 2px 4px #7c7a6b, -2px -2px 4px #dbdbdb;
}
.computer-buttons-switch {
  padding: 10px;
  border-radius: 10px;
  background: #eee8ce;
  box-shadow: 2px 2px 4px #7c7a6b, -2px -2px 4px #dbdbdb;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@keyframes flicker {
  0% {
    opacity: 0.57861;
  }
  5% {
    opacity: 0.64769;
  }
  10% {
    opacity: 0.73604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.68128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.66559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.58594;
  }
  60% {
    opacity: 0.60313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.67288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.66108;
  }
  100% {
    opacity: 0.54387;
  }
}
textarea {
  color: rgba(22, 240, 22, 0.9);
  -webkit-animation: flicker 10s infinite;
          animation: flicker 10s infinite;
  background-color: transparent;
  letter-spacing: 1px;
  margin-left: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: none;
  resize: none;
  min-width: 300px;
  font-size: 1em;
}
@media (max-width: 800px) {
  textarea {
    min-width: 180px;
    max-width: 180px;
  }
}
@media (min-width: 801px) {
  textarea {
    min-width: 400px;
    max-width: 400px;
  }
}
@media (max-height: 800px) {
  textarea {
    font-size: 0.8em;
  }
}

textarea:focus {
  outline: none;
}

p {
  color: rgba(22, 240, 22, 0.9);
  -webkit-animation: flicker 10s infinite;
          animation: flicker 10s infinite;
  letter-spacing: 1px;
}

.computer-bottom-contacts {
  position: absolute;
  top: 7px;
  right: 10px;
}
.computer-bottom-contacts-title {
  text-align: center;
}
.computer-bottom-contacts-list-container {
  display: flex;
  list-style: none;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.computer-bottom-contacts-list-container-items {
  align-items: center;
}

.speakers-right {
  max-width: 10%;
  position: absolute;
  bottom: 10px;
  right: 15%;
}
@media (max-width: 800px) {
  .speakers-right {
    max-width: 16%;
  }
}
.speakers-left {
  max-width: 10%;
  position: absolute;
  bottom: 10px;
  left: 15%;
}
@media (max-width: 800px) {
  .speakers-left {
    max-width: 16%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "VT323";
}

body {
  overflow: hidden;
  background-color: #EEE8CE;
}/*# sourceMappingURL=main.css.map */