.head{
  min-height: 70px;
  background: rgb(184, 208, 254);
  
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  &-details{
    &-logo{
      font-size: 1.4em;
      text-align: center;
      
    }

    &-contacts{
      display: flex;
      justify-content: center ;
      align-self: center; 
      column-gap: 10px;

      
      &-email{
        display: flex;
        justify-content: center ;
        align-items: center; 
        column-gap: 10px;
      }
    }
  }

}